@font-face {
  font-family: "FiraGo";
  src: url(./assets/font/Download_Folder_FiraGO_1001/Fonts/FiraGO_TTF_1001/Roman/FiraGO-ExtraBold.ttf)
    format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "FiraGo";
  src: url(./assets/font/Download_Folder_FiraGO_1001/Fonts/FiraGO_TTF_1001/Roman/FiraGO-Medium.ttf)
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "FiraGo";
  src: url(./assets/font/Download_Folder_FiraGO_1001/Fonts/FiraGO_TTF_1001/Roman/FiraGO-Regular.ttf)
    format("truetype");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FiraGo";
}

.container {
  height: 100%;
  width: 100%;
  background-color: #f3f2fa;
}

header {
  background-color: #fff;
  padding-inline: 76px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e4e3eb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #5d37f3;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
